{% extends 'base.html.twig' %}

{% block title %}Démo{% endblock %}

{% block body %}
    <h1>Page de démonstration</h1>
    
    <p>Date et heure actuelles : {{ currentDateTime|format_datetime('full', 'medium', locale='fr') }}</p>

    <p>Slug : {{ demoSlug }}</p>
{% endblock %}
