{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <ul>
        <li>Produit 1</li>
        <li>Produit 2</li>
        <li>Produit 3</li>
        <!-- Vous pouvez ajouter plus de produits ici -->
    </ul>
{% endblock %}
