{% extends 'base.html.twig' %}

{% block title %}Affichage du produit {{ id }}{% endblock %}

{% block body %}
    <h1>Affichage du produit {{ id }}</h1>

    <p>Détails du produit avec l'ID : {{ id }}</p>
    <!-- Ajoutez ici plus d'informations sur le produit -->
{% endblock %}
